@import "variables.scss";

body {
  background-color: #FAFAFA!important;
}
$libpdk-manual-page-width: 1200px;
.manual-page-container {
  max-width: $libpdk-manual-page-width;
  margin-top: 20px!important;
  margin-bottom: 20px!important;
  padding: 0!important;
  @media (min-width: 640px) {
    margin-top: 30px!important;
    margin-bottom: 30px!important;
  }
  @media (min-width: 960px) {
    padding-left: 40px!important;
    padding-right: 40px!important;
    margin-top: 40px!important;
    margin-bottom: 40px!important;
  }
  pre {
    padding: 0!important;
    margin: 0!important;
    margin-bottom: 10px!important;
    border: none;
    code {
      padding-bottom: 15px;
      padding-top: 15px;
      @media (max-width: 640px) {
        width: 1300px;
      }
    }
  }
}

.manual-container {
  min-height: 600px;
  .manual-doc-container {
    ol {
      li {
        list-style-type: decimal!important;
      }
    }
    background-color: #ffffff;
    padding:20px;
    @media (min-width: 640px) {
      padding:30px;
    }
    .manual-title {
      font-size: 1.8em;
      font-family: $global-font-family;
      @media (min-width: 640px) {
        font-size: 2.5em;
      }
    }
    .manual-content {
      margin-top: 20px;
      font-size:1.3em;
      line-height: 2em;
      @media (min-width: 640px) {
        margin-top: 30px;
      }
      blockquote {
        border-left: 5px solid #cccccc;
        padding-left: 10px;
        /* 1 */
        overflow-wrap: break-word;
        /* 2 */
        word-wrap: break-word;
        /* 3 */
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
        font-size: 0.9em!important;
        @media (min-width: 640px) {
          border-left: 10px solid #cccccc;
          padding-left: 20px;
        }
      }
      a {
        text-decoration: underline;
      }
    }
  }
  .catalog {
    width: 250px;
    padding: 20px;
    margin-right: 30px;
    background-color: #ffffff;
    .manual-chapter-header {
      font-weight: bold;
      color: #3f3d3d;
    }
    .uk-active a{
      color: $libpdk-base-color!important;
    }
    a {
      font-size: 0.9em!important;
    }
  }
}
