@charset "utf-8";
$libpdk-base-color: #d71718;
$libpdk-light-base-color: #8794BC;
$libpdk-link-color: #369;
$libpdk-link-hover-color: #AE508D;
$libpdk-border-color: #e5e5e5;
$libpdk-normal-font-color: #696969;
$libpdk-std-fontsize: 12px;
$libpdk-page-max-width : 1200px;

/** 修改默认的uikit变量 */
$navbar-nav-item-height: 50px !default;
$global-font-family:  'Gotham Rounded', "微软雅黑", -apple-system, BlinkMacSystemFont,"宋体" ,"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;