[submodule "node_modules/hexo-generator-php-apidoc"]
	path = node_modules/hexo-generator-php-apidoc
	url = polarphp:polarphp/hexo-generator-php-apidoc
[submodule "node_modules/hexo-generator-cpp-apidoc"]
	path = node_modules/hexo-generator-cpp-apidoc
	url = polarphp:polarphp/hexo-generator-cpp-apidoc
[submodule "pdk-ide-auto-complete"]
	path = pdk-ide-auto-complete
	url = polarphp:polarphp/pdk-ide-auto-complete.git
