<%
let cls = "";
if (variables.length != 0 ) {
    cls = "section-item-container variable-section-container";
} else {
    cls = "uk-hidden";
}
%>
<div class="<%- cls %>">
    <h3 class="uk-margin-small-bottom"><%= __("cppapidoc.partial_variable_section.variable_defines") %></h3>
    <% for (let i in variables) {
        let item = variables[i];
    %>
    <div class="uk-grid-small list-item" uk-grid>
        <div class="uk-width-1-1">
            <div class="define uk-text-break"><%- showSimpleName ? item.simpleDefineStr :item.defineStr %></div>
            <div class="uk-text-break uk-margin-small-top"><%- item.briefDescription %></div>
        </div>
    </div>
    <% } %>
</div>