<div style="width: 100%">
    <div class="hot-area uk-box-shadow-large">
        <div class="uk-width-1-1 uk-text-center">
            <div class="polarphp"><img src="/statics/images/polarphp-white.svg" style="height: 60px;"/></div>
        </div>
        <div class="uk-width-1-1 uk-text-center uk-margin-small">
            <div class="slogan uk-padding-small"><%= __("index.slogan") %></div>
        </div>
        <div class="btn uk-grid-small uk-child-width-expand@s" uk-grid>
            <div class="uk-width-1-1 uk-width-1-3@s uk-text-center uk-text-left@s">
                <button class="uk-button uk-button-default uk-margin-medium-right@s uk-box-shadow-hover-large start-btn"
                        onclick="window.open('/manual')"
                ><%= __("index.get_started") %></button>
            </div>
            <div class="uk-width-1-1 uk-width-1-3@s uk-text-center uk-text-left@s">
                <button class="uk-button uk-button-default github-repo-btn"
                        onclick="window.open('https://github.com/polarphp/polarphp')"><%= __("index.github_repo") %></button>
            </div>
            <div class="uk-width-1-1 uk-width-1-3@s uk-text-center uk-text-left@s">
                <button class="uk-button uk-button-default github-repo-btn"
                        onclick="window.open('https://gitee.com/polarphp/polarphp')"><%= __("index.gitee_repo") %></button>
            </div>
        </div>
    </div>
</div>