<div class="partner-panel uk-container uk-margin-large-top uk-flex uk-flex-column">
    <div class="uk-flex uk-flex-center">
        <div class="partner-title uk-flex uk-flex-center">
            <img src="statics/images/index/partner/partner.svg"/><%= __("index.partner_title") %>
        </div>
    </div>
    <div class="uk-margin-medium-top uk-flex uk-flex-center" uk-grid>
        <a class="partner-logo uk-width-auto" href="https://www.oschina.net" target="_blank"><img src="statics/images/index/partner/osc.svg"/></a>
        <a class="partner-logo uk-width-auto" href="https://www.gitee.com" target="_blank"><img src="statics/images/index/partner/gitee.svg"/></a>
        <a class="partner-logo uk-width-auto" href="http://www.hacknown.com" target="_blank"><img src="statics/images/index/partner/hacklogo.svg"/></a>
        <a class="partner-logo uk-width-auto" href="https://www.vultr.com" target="_blank"><img src="statics/images/index/partner/vultr.svg"/></a>
    </div>
    <div class="uk-flex uk-flex-center uk-margin-medium-top">
        <div class="partner-title uk-flex uk-flex-center">
            <button class="uk-button uk-button-default become-partner-btn"
                    onclick="window.location.assign('/about/becomepartner.html')"><%= __("index.become_partner") %></button>
        </div>
    </div>
</div>