<div class="teamwork-panel uk-container uk-margin-medium-top uk-margin-medium-bottom uk-flex uk-flex-column">
    <div class="uk-flex uk-flex-center">
        <div class="teamwork-title uk-flex uk-flex-center">
            <img src="statics/images/index/teamwork/community.svg"/><%= __("index.developer_title") %>
        </div>
    </div>
    <div class="uk-flex uk-flex-center uk-margin-small-top">
        <div class="uk-margin-medium-top uk-flex uk-flex-center" uk-grid>
            <a class="developer-logo uk-width-auto" href="https://github.com/zzusoftboy" target="_blank"><img src="statics/images/index/teamwork/zzu_softboy.jpeg"/></a>
            <a class="developer-logo uk-width-auto" href="https://github.com/yushuailiu" target="_blank"><img src="statics/images/index/teamwork/liushuai.png"/></a>
        </div>
    </div>
    <div class="sponsor-title uk-flex uk-flex-center uk-margin-medium-top">
        <button class="uk-button uk-button-default become-developer-btn"
                onclick='window.location.assign("/about/becomedeveloper.html")'><%= __("index.become_developer") %></button>
    </div>
</div>