<div class="linkers-panel uk-container uk-margin-large-top uk-flex uk-flex-column">
    <div class="uk-flex uk-flex-center">
        <div class="linker-title uk-flex uk-flex-center">
            <img src="statics/images/index/links/link.svg"/><%= __("index.links_title") %>
        </div>
    </div>
    <div class="uk-margin-medium-top uk-grid-collapse uk-child-width-expand@s uk-flex uk-flex-center" data-uk-grid>
        <ul class="uk-text-center uk-text-left@s">
            <li><a href="http://unicorn.360.cn/" target="_blank">360 UnicornTeam</a></li>
        </ul>
        <ul class="uk-text-center uk-text-left@s">
            <li><a href="https://www.75team.com/" target="_blank">75team</a></li>
        </ul>
        <ul class="uk-text-center uk-text-left@s">
            <li><a href="https://thinkjs.org/" target="_blank">ThinkJS Project</a></li>
        </ul>
        <ul class="uk-text-center uk-text-left@s">
            <li><a href="http://www.0xroot.cn/" target="_blank">0xroot</a></li>
        </ul>
    </div>
</div>