<div class="sponsors-panel uk-container uk-margin-large-top uk-flex uk-flex-column">
    <div class="uk-flex uk-flex-center">
        <div class="sponsor-title uk-flex uk-flex-center">
            <img src="statics/images/index/sponsors/sponsor.svg"/><%= __("index.sponsor_title") %>
        </div>
    </div>
    <div class="uk-margin-medium-top uk-flex uk-flex-center" uk-grid>
        <a class="sponsor-logo uk-width-auto"><img src="statics/images/index/sponsors/wirelessresearch.svg" style="height:80px"/></a>
        <a class="sponsor-logo uk-width-auto"><img src="statics/images/index/sponsors/qcoreteam.svg" style="width:200px;height:60px;padding-top:10px"/></a>
        <a class="sponsor-logo uk-width-auto"><img src="statics/images/index/sponsors/360daxue.png" style="width:200px;height:60px;padding-top:10px"/></a>
        <a class="sponsor-logo uk-width-auto"><img src="statics/images/index/sponsors/anchnet.png" style="width:200px;height:60px;padding-top:10px"/></a>
    </div>
    <div class="uk-flex uk-flex-center uk-margin-medium-top">
        <div class="sponsor-title uk-flex uk-flex-center">
            <button class="uk-button uk-button-default become-sponsor-btn"
                    onclick='window.location.assign("/about/becomesponsor.html")'><%= __("index.become_sponsor") %></button>
        </div>
    </div>
</div>