@import "variables.scss";

body {
  background-color: #FAFAFA!important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $global-font-family!important;
}
$polarphp-phpapidoc-page-width: 1300px;

.phpapidoc-page-container {
  .title {
    font-family: $global-font-family;
  }
  max-width: $polarphp-phpapidoc-page-width;
  margin-top: 20px!important;
  margin-bottom: 20px!important;
  padding: 0!important;
  @media (min-width: 640px) {
    margin-top: 30px!important;
    margin-bottom: 30px!important;
  }
  @media (min-width: 960px) {
    padding-left: 40px!important;
    padding-right: 40px!important;
    margin-top: 40px!important;
    margin-bottom: 40px!important;
  }
  .side-panel-container {
    width: 200px;
    margin-right: 30px;
  }
  dl {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  /** doxygen标签一些样式 */
  dl.deprecated {
    margin-left: -7px;
    padding-left: 10px;
    border-left: 4px solid;
    border-color: #505050;
  }

  dl.pre, dl.post, dl.invariant {
    margin-left: -7px;
    padding-left: 10px;
    border-left: 4px solid;
    border-color: #00D000;
  }
  dl.bug {
    margin-left: -7px;
    padding-left: 10px;
    border-left: 4px solid;
    border-color: #C08050;
  }
  dl.warning, dl.attention {
    margin-left: -7px;
    padding-left: 10px;
    border-left: 4px solid;
    border-color: #FF0000;
  }
  dl.note {
    margin-left: -7px;
    padding-left: 10px;
    border-left: 4px solid;
    border-color: #D0C000;
  }
}

.phpapidoc-info-container {
  background-color: #ffffff;
  padding:20px;
  @media (min-width: 640px) {
    padding:30px;
  }
  .title {
    padding-top: 0;
    margin-bottom: 30px!important;
  }
  .detail-description {
    ul {
      list-style-type: disc!important;
    }
    ol {
      list-style-type: decimal!important;
    }
    li {
      list-style-type: inherit!important;
    }
    h1, h2, h3, h4, h5, h6, p,blockquote {
      padding: 0!important;
      margin: 0!important;
      line-height: 180%!important;
    }
    blockquote {
      font-size: 1em!important;
      border-left: 5px solid #EEEEEE;
      padding: 5px 10px!important;
      margin: 0 0 10px!important;
      /* 1 */
      overflow-wrap: break-word;
      /* 2 */
      word-wrap: break-word;
      /* 3 */
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
      font-size: 1.2em;
      @media (min-width: 640px) {
        border-left: 10px solid #EEEEEE;
        padding: 10px 20px!important;
        margin: 0 0 20px!important;
      }
    }
  }
  .uk-breadcrumb>:nth-child(n+2):not(.uk-first-column)::before {
    margin: 0 5px;
    content: "\\";
  }

  .nav-path {
    margin: 0!important;
    padding: 0!important;
    div {
      height:35px;
      line-height: 35px;
      margin-right: 5px;
    }
    ul {
      height:40px;
      line-height: 40px;
      margin: 0;
      padding: 0;
    }
    @media (min-width: 640px) {
      margin-bottom: 15px!important;
    }
  }
  .nav-path-grid {
    div {
      height:20px;
      line-height: 20px;
      a {
        margin-left: 2px;
      }
    }
    margin-bottom: 10px;
  }

  .tags-container {
    .uk-label {
      height: 16px !important;
      line-height: 17px !important;
      font-size: 10px !important;
      margin-right: 5px !important;
      a {
        color: #ffffff;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.phpapidoc-container {
  min-height: 600px;
}

.phpapidoc-index-info-container {
  .title {
    height: 40px;
    line-height: 40px;
    h2,h3 {
      display: inline;
      margin-left:10px;
    }
    img {
      display: inline;
      width: 35px;
      height:35px;
      margin-top: -10px;
    }
  }
  a {
    font-size: 1.2em;
  }
  li {
    @media (min-width: 640px) {
      padding-bottom: 3px;
    }
  }
  ul {
    margin: 0;
    padding:0;
  }
}

.phpapidoc-globals-info-container
{
  a {
    font-size: 1.1em;
  }
  .title {
    margin: 0!important;
    padding: 0!important;
    @media (min-width: 640px) {
      margin-top: 15px!important;
    }
  }
  .uk-grid {
    border-bottom: 1px solid #e5e5e5!important;
  }
}

.phpapidoc-classes-info-container
{
  .title {
    height: 40px;
    line-height: 40px;
    h2 {
      display: inline;
      margin-left:10px;
    }
    img {
      display: inline;
      width: 35px;
      height:35px;
      margin-top: -10px;
    }
  }
  a {
    font-size: 1.2em;
  }
  li {
    @media (min-width: 640px) {
      padding-bottom: 3px;
    }
  }
  ul {
    margin: 0;
    padding:0;
  }
}

.phpapidoc-functions-info-container
{
  .title {
    height: 40px;
    line-height: 40px;
    h2 {
      display: inline;
      margin-left:10px;
    }
    img {
      display: inline;
      width: 35px;
      height:35px;
      margin-top: -10px;
    }
  }
  a {
    font-size: 1.2em;
  }
  li {
    @media (min-width: 640px) {
      padding-bottom: 3px;
    }
  }
  ul {
    margin: 0;
    padding:0;
  }
}

.phpapidoc-interfaces-info-container
{
  .title {
    height: 40px;
    line-height: 40px;
    h2 {
      display: inline;
      margin-left:10px;
    }
    img {
      display: inline;
      width: 35px;
      height:35px;
      margin-top: -10px;
    }
  }
  a {
    font-size: 1.2em;
  }
  li {
    @media (min-width: 640px) {
      padding-bottom: 3px;
    }
  }
  ul {
    margin: 0;
    padding:0;
  }
}

.phpapidoc-modules-info-container
{
  .uk-grid {
    border-bottom: 1px solid #e5e5e5!important;
    padding-bottom: 5px;
    margin-left:3px;
  }
  .list-item {
    a ,span {
      font-size: 1.2em;
      font-family: $global-font-family;
    }
    span {
      font-size: 1em;
    }
  }
}

.phpapidoc-namespaces-info-container
{
  .title {
    height: 40px;
    line-height: 40px;
    h3 {
      display: inline;
      margin-left:10px;
    }
    img {
      display: inline;
      width: 35px;
      height:35px;
      margin-top: -10px;
    }
  }
  .uk-grid {
    border-bottom: 1px solid #e5e5e5!important;
    padding-bottom: 5px;
    margin-left:3px;
  }
  .list-item {
    a ,span {
      font-size: 1.2em;
      font-family: $global-font-family;
    }
    span {
      font-size: 1em;
    }
  }
}

.phpapidoc-traits-info-container
{
  .title {
    height: 40px;
    line-height: 40px;
    h2 {
      display: inline;
      margin-left:10px;
    }
    img {
      display: inline;
      width: 35px;
      height:35px;
      margin-top: -10px;
    }
  }
  a {
    font-size: 1.2em;
  }
  li {
    @media (min-width: 640px) {
      padding-bottom: 3px;
    }
  }
  ul {
    margin: 0;
    padding:0;
  }
}

.section-item-container
{
  .uk-grid-small > * {
    padding-left: 1px!important;
    padding-right: 1px!important;
  }
  .section-title {
    height: 35px;
    line-height: 35px;
  }
  .uk-grid {
    padding-bottom: 5px;
    margin-left:3px;
  }
  .tags {
    line-height: 30px;
    height: 30px;
    span {
      margin-top: 7px;
    }
  }
  .list-item {
    a {
      font-size: 1.1em;
      font-family: $global-font-family;
    }
    span {
      font-size: 1em;
    }
  }
}

.section-info-item-container, .class-info-section-item-container{
  .section-item-name {
    a,span {
      height: 30px;
      line-height: 30px;
    }
    span {
      font-size: 1.5em;
    }
    img {
      margin-top: -4px;
      margin-right: 3px;
    }
  }
  a {
    font-size: 1.1em;
    font-family: $global-font-family;
  }
  span {
    font-size: 1em;
  }
  .uk-grid-small > * {
    padding-left: 1px!important;
    padding-right: 1px!important;
  }
}

.phpapidoc-class-content-info-container
{
  a {
    font-size: 1.1em;
  }
  .title {
    margin: 0!important;
    padding: 0!important;
  }
  .implements-section-item-container {
    .list-item {
      margin-top: 0;
    }
    .uk-grid-margin {
      margin-top: 5px;
    }
  }
  .traits-section-item-container {
    .list-item {
      margin-top: 0;
    }
    .uk-grid-margin {
      margin-top: 5px;
    }
  }
}

.phpapidoc-interface-content-info-container
{
  a {
    font-size: 1.1em;
  }
  .title {
    margin: 0!important;
    padding: 0!important;
    @media (min-width: 640px) {
      margin-top: 5px!important;
    }
  }
  .implements-section-item-container {
    .uk-grid-margin {
      margin-top: 5px;
    }
  }
}

.phpapidoc-module-content-info-container
{
  .title {
    margin: 0!important;
    padding: 0!important;
    @media (min-width: 640px) {
      margin-top: 15px!important;
    }
  }
  .uk-grid {
    border-bottom: 1px solid #e5e5e5!important;
  }
}

.phpapidoc-namespace-content-info-container
{
  .title {
    margin: 0!important;
    padding: 0!important;
    @media (min-width: 640px) {
      margin-top: 15px!important;
    }
  }
  .class-section-container{
    .uk-grid {
      border-bottom: 1px solid #e5e5e5!important;
    }
  }
  .namespace-section-container {
    .uk-grid {
      border-bottom: 1px solid #e5e5e5!important;
    }
  }
}

.phpapidoc-function-content-info-container
{
  .title {
    margin: 0!important;
    padding: 0!important;
  }
  .parameter-container {
    .uk-label {
      text-transform:none;
    }
    .property-name {
      color: $polarphp-base-color;
    }
    padding-bottom: 20px;
    .description {
      margin-top: 10px;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom:1px dotted $polarphp-border-color;
    }
  }
}

.side-panel {
  width: 200px;
  background-color: #ffffff;
  margin: 0;
  padding:0;
  padding-top: 20px;
  padding-bottom: 20px;
  li {
    line-height: 30px;
    height: 30px;
    a {
      font-size: 1.2em;
      display: inline-block;
    }
    img {
      height:16px;
      width:16px;
      margin-top: -5px;
      margin-right: 5px;
      margin-left: 20px;
    }
  }
  .active-item {
    color: $polarphp-link-hover-color;
  }
}

.doxygen-info {
  color: #b2b2b2;
  text-align: center;
  margin-top: 40px;
  @media (min-width: 640px) {
    text-align: left;
  }
}

/**
 * namespace section style
 */
.namespace-section-container {
  margin-top: 20px;
  @media (min-width: 640px) {
    margin-top: 40px;
  }
  a {
    font-size: 1.2em;
  }
  .uk-grid-small > * {
    padding-left: 1px!important;
    padding-right: 1px!important;
  }
}

/**
 * class section style
 */
.class-section-container {
  margin-top: 20px;
  @media (min-width: 640px) {
    margin-top: 40px;
  }
  .entity-type {
    font-size: 1.2em;
    padding-right:10px;
  }
}

/**
 * interface section style
 */
.interface-section-container {
  margin-top: 20px;
  @media (min-width: 640px) {
    margin-top: 40px;
  }
  .entity-type {
    font-size: 1.2em;
    padding-right:10px;
  }
}

/**
 * trait section style
 */
.trait-section-container {
  margin-top: 20px;
  @media (min-width: 640px) {
    margin-top: 40px;
  }
  .entity-type {
    font-size: 1.2em;
    padding-right:10px;
  }
}

/**
 * func section style
 */
.func-section-container {
  margin-top: 20px;
  @media (min-width: 640px) {
    margin-top: 40px;
  }
  .signature {
    margin-top: 0!important;
  }
}

/**
 * const section style
 */
.const-section-container {
  margin-top: 20px;
  @media (min-width: 640px) {
    margin-top: 40px;
  }
  .list-item {
    .define {
      a ,span{
        height: 23px;
        line-height: 23px;
      }
      margin-left: 20px;
    }
  }
}

/**
 * module section style
 */
.module-section-container {
  margin-top: 20px;
  @media (min-width: 640px) {
    margin-top: 40px;
  }
  .define {
    font-size: 1em;
    a {
      font-size: 1.2em;
    }
    margin-top: 5px!important;
  }
}

/**
 * class sections style
 */

.class-const-section-container {
  margin-top: 20px;
  @media (min-width: 640px) {
    margin-top: 40px;
  }
  .const-define {
    a ,span{
      height: 23px;
      line-height: 23px;
    }
    margin-left: 20px;
  }
  .uk-grid-small {
    margin-top: 0;
  }
  .constant-name {
    margin-top:5px;
  }
}

.class-method-section-container {
  margin-top: 20px;
  @media (min-width: 640px) {
    margin-top: 40px;
  }

  .list-item {
    margin-top: 0;
    .signature {
      a ,span{
        height: 23px;
        line-height: 23px;
        display: inline-block;
      }
      margin-top: 0;
      .return-type{
        a {
          color: #1e87f0!important;
          &:hover {
            color: $polarphp-link-hover-color!important;
          }
          margin-top: 1px;
        }
      }
    }
  }
}

.class-property-section-container {
  margin-top: 20px;
  @media (min-width: 640px) {
    margin-top: 40px;
  }
  .property-define {
    a ,span{
      height: 23px;
      line-height: 23px;
    }
    margin-left: 20px;
  }
  .propertyant-name ,.uk-grid-margin{
    margin-top: 0 !important;
  }
}
.class-trait-property-section-container {
  margin-top: 20px;
  @media (min-width: 640px) {
    margin-top: 40px;
  }
  .property-define {
    a ,span{
      height: 23px;
      line-height: 23px;
    }
    margin-left: 20px;
  }
  .property-name {
    margin-top:0;
  }
  .from-trait-head {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .list-item {
    margin-top: 0!important;
  }
}

.class-trait-method-section-container {
  margin-top: 20px;
  @media (min-width: 640px) {
    margin-top: 40px;
  }
  .list-item {
    margin-top: 0;
    .signature {
      a ,span{
        height: 23px;
        line-height: 23px;
        display: inline-block;
      }
      margin-top: 0;
      .return-type{
        a {
          color: #1e87f0!important;
          &:hover {
            color: $polarphp-link-hover-color!important;
          }
          margin-top: 1px;
        }
      }
    }
  }
  .from-trait-head {
    margin-bottom: 10px;
    margin-top: 20px;
  }
}

.class-const-info-section-container
{
  margin-top: 20px;
  @media (min-width: 640px) {
    margin-top: 40px;
  }
  .const-define {
    a ,span{
      height: 23px;
      line-height: 23px;
    }
    margin-left: 20px;
  }
  .constant-name {
    margin-top:5px;
    font-size: 1.4em;
  }
  .defined-file-location {
    margin-top: 0!important;
  }
}

.class-property-info-section-container {
  margin-top: 20px;
  @media (min-width: 640px) {
    margin-top: 40px;
  }
  .property-define {
    a ,span{
      height: 23px;
      line-height: 23px;
    }
    margin-left: 20px;
  }
  .property-name ,.uk-grid-margin{
    margin-top: 0 !important;
  }
  .property-name {
    font-size: 1.4em;
  }
  .defined-file-location {
    margin-top: 0!important;
  }
}

.class-method-info-section-container {
  margin-top: 20px;
  @media (min-width: 640px) {
    margin-top: 40px;
  }
  .method-name {
    font-size: 1.4em;
  }
  .signature {
    margin-top: 10px;
    background: #f8f8f8;
    margin-bottom: 10px;
    padding:8px;
  }
  .defined-file-location {
    margin-top: 0!important;
  }
  .list-item {
    margin-bottom: 20px;
  }
  .return-info-container
  {
    h6 {
      margin: 0;
      margin-bottom: 10px;
      padding:0;
    }
  }
  .parameter-item {
    .param-text {
      font-size:1.2em;
    }
    .property-name {
    }
    .description {
      font-size: 1em;
    }
  }
}