<footer id= "footer-wrapper">
    <div class="footer uk-text-center">
        <div>Copyright © 2018 - 2020 polar software foundation</div>
        <div>
            <a href = "http://www.miitbeian.gov.cn/" target="_Blank">ICP: BJ 17044371-2</a>
        </div>
        <div>
            website version 0.1.0 &nbsp;powerby <a href="https://gitee.com/" target="_blank">Gitee Pages</a>
        </div>
    </div>
</footer>
