<%
//    console.log(get_site_data())
//console.log(site.data)
let layout;
if (page.layout) {
    layout = page.layout;
} else if (page.__index) {
    layout = page.layout = "index";
} else if (page.title) {
    layout = "post";
} else if (page._isBlogList) {
    layout = "blog";
}
let title = "";
let cssfilename = "";
if (layout == "post") {
    title = page.title;// + __("post.page_title_suffix");
    cssfilename = "article.css";
} else if (layout == "document") {
    title = page.title;
    cssfilename = "document.css";
} else if (page.maintype == "about") {
    if (layout == "about/index") {
        title = __("about.page_title");
    } else if (layout == "about/changelog"){
        title = __("about.page_changelog_title");
    } else if (layout == "about/become_developer") {
        title = __("about.page_become_developer_title")
    } else if (layout == "about/become_partner") {
        title = __("about.page_become_partner_title")
    } else if (layout == "about/become_sponsor") {
        title = __("about.page_become_sponsor_title")
    }
    cssfilename = "about.css";
} else if (layout == "community") {
    cssfilename = "community.css";
    title = __("community.page_title");
}  else if (layout == "index") {
    cssfilename = "index.css";
    title = __("index.page_title");
} else if (layout == "blog") {
    cssfilename = "blog.css";
    title = __("blog.page_title");
} else if (layout == "cppapiindex") {
    title = __("cppapidoc.index.page_title");
    cssfilename = "cppapidoc.css";
} else if (layout == "cppapimodules") {
    title = __("cppapidoc.modules.page_title");
    cssfilename = "cppapidoc.css";
} else if (layout == "cppapinamespaces") {
    title = __("cppapidoc.namespaces.page_title");
    cssfilename = "cppapidoc.css";
} else if (layout == "cppapiglobals") {
    title = __("cppapidoc.globals.page_title");
    cssfilename = "cppapidoc.css";
} else if (layout == "cppapifiles") {
    title = __("cppapidoc.files.page_title");
    cssfilename = "cppapidoc.css";
} else if (layout == "cppapiclasscontent") {
    title = __("cppapidoc.class_content.page_title", page.cls.name);
    cssfilename = "cppapidoc.css";
} else if (layout == "cppapinamespacecontent") {
    title = __("cppapidoc.namespace_content.page_title", page.namespace.name);
    cssfilename = "cppapidoc.css";
} else if (layout == "cppapimodulecontent") {
    title = __("cppapidoc.module_content.page_title", page.module.name);
    cssfilename = "cppapidoc.css";
} else if (layout == "cppapifilecontent") {
    title = __("cppapidoc.file_content.page_title", page.file.name);
    cssfilename = "cppapidoc.css";
}
%>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="ZZU_SOFTBOY">
<meta name="description" content="polarphp - The fundamental runtime framework of php language">
<meta name="keywords" content="polarphp, php, framework, web, artisans, ZZU_SOFTBOY, runtime framework, native library">
<title><%- title %></title>
<link rel="icon" href="/polarphp.ico" type="image/ico"/>
<link rel="stylesheet" href="/statics/js/uikit/css/uikit.min.css" />
<link rel="stylesheet" href="/statics/css/base.css" />
<% if (cssfilename)  {%>
<link rel="stylesheet" href="/statics/css/<%- cssfilename %>" />
<%}%>
<script type="text/javascript" src = "/statics/js/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src = "/statics/js/uikit/js/uikit.min.js"></script>
<script type="text/javascript" src = "/statics/js/uikit/js/uikit-icons.min.js"></script>
<% if (layout == "manual" || layout == "post") { %>
<script type="text/javascript" src = "/statics/js/highlight/highlight.pack.js"></script>
<link rel="stylesheet" href="/statics/js/highlight/styles/railscasts.css" />
<% } %>
